---
name: C++ CI Coverage

on: # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

jobs:
  coverage:
    name: C++ CMake CI Coverage
    runs-on: macos-15

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install Tools
        shell: bash
        run: |
          # Install vcpkg
          export VCPKG_VERSION=2025.02.14
          git clone \
            --depth 1 \
            --branch $VCPKG_VERSION \
            https://github.com/microsoft/vcpkg.git  \
            --single-branch \
            "$HOME/vcpkg"
          export VCPKG_ROOT="$HOME/vcpkg"
          echo "$VCPKG_ROOT" >> $GITHUB_PATH
          sh $VCPKG_ROOT/bootstrap-vcpkg.sh
          echo "VCPKG_ROOT=$HOME/vcpkg" >> $GITHUB_ENV
          # lcov is available via homebrew
          brew install lcov

      - name: Check Tools
        run: |
          echo "-----------"
          c++ --version
          echo "-----------"
          make --version
          echo "-----------"
          cmake --version
          echo "-----------"
          vcpkg --version
          echo "-----------"
          lcov --version

      - name: Install dependencies
        run: |
          make dependencies

      # yamllint disable rule:line-length
      - name: Build
        run: |
          export VCPKG_ROOT=/usr/local/share/vcpkg
          make build
      # yamllint enable rule:line-length
      - name: Test / Coverage
        run: make coverage

      # yamllint disable rule:line-length
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          directory: ./coverage
          files: coverage/lcov.info
          token: ${{ secrets.CODECOV_TOKEN }} # required
          verbose: true # optional (default = false)
          # yamllint enable rule:line-length
