---
name: C/C++ CMake/LLVM MacOS CI Test

on: # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    name: C/C++ CMake CI Test
    strategy:
      matrix:
        os: ["macos-14"]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install
        shell: bash
        run: |
          export VCPKG_VERSION=2025.02.14
          git clone \
            --depth 1 \
            --branch $VCPKG_VERSION \
            https://github.com/microsoft/vcpkg.git  \
            --single-branch \
            "$HOME/vcpkg"
          export VCPKG_ROOT="$HOME/vcpkg"
          echo "$VCPKG_ROOT" >> $GITHUB_PATH
          sh $VCPKG_ROOT/bootstrap-vcpkg.sh
          echo "VCPKG_ROOT=$HOME/vcpkg" >> $GITHUB_ENV

      - name: Check Tools
        run: |
          echo "-----------"
          make --version
          echo "-----------"
          cmake --version
          echo "-----------"
          vcpkg --version
          echo "-----------"

      - name: Install dependencies
        run: |
          make dependencies

      - name: Build
        run: |
          make build

      - name: Test
        run: |
          make test
